@import "tailwindcss";

@layer utilities {
    .catalog-scrollbar::-webkit-scrollbar {
        height: 8px;
    }

    .catalog-scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: transparent;
    }

    .catalog-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 100vh;
    }

    .catalog-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.6);
        border-radius: 100vh;
    }
}
